os:
  - linux

language: node_js
node_js:
  - 12

services:
  - memcached

before_install:
  - npm install
  - pip install --user codecov

after_success:
  - codecov --file coverage/lcov.info --disable search

env:
  - CODECOV_TOKEN=90a8efe8-4170-418f-80c1-eeb01e023129